<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/header :: head"></head>

<body>

<!--================Menu Area =================-->
<div th:replace="fragments/header :: header"></div>

<!--================End Menu Area =================-->

<!--================Categories Banner Area =================-->
<div th:replace="fragments/header :: banner"></div>

<!--================End Categories Banner Area =================-->

<!--================Categories Product Area =================-->
<section class="categories_product_main p_80">
    <div class="container">
        <div class="categories_main_inner">
            <div class="row row_disable">
                <div class="col-lg-9 float-md-right">
                    <div class="showing_fillter">
                        <div class="row m0">
                            <div class="first_fillter">
                                <h4>Showing 1 to 12 of 30 total</h4>
                            </div>
                            <div class="secand_fillter">
                                <h4>SORT BY :</h4>
                                <select class="selectpicker">
                                    <option>Name</option>
                                    <option>Name 2</option>
                                    <option>Name 3</option>
                                </select>
                            </div>
                            <div class="third_fillter">
                                <h4>Show : </h4>
                                <select class="selectpicker">
                                    <option>09</option>
                                    <option>10</option>
                                    <option>10</option>
                                </select>
                            </div>
                            <div class="four_fillter">
                                <h4>View</h4>
                                <a class="active" href="#"><i class="icon_grid-2x2"></i></a>
                                <a href="#"><i class="icon_grid-3x3"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="categories_product_area">
                        <div class="row">
                            <div class="col-lg-4 col-sm-6" th:each="product : ${products}">
                                <div class="l_product_item">
                                    <div class="l_p_img">
                                        <a th:href="@{/{id}(id = ${product.id})}">
                                            <img th:src="@{/picture/{pictureId}(pictureId=${product.getPictureId()})}"
                                                 alt="Image">
                                        </a>
                                        <h5 class="new">New</h5>
                                    </div>
                                    <div class="l_p_text">
                                        <ul>
                                            <li class="p_icon"><a th:href="@{/{id}(id = ${product.id})}"><i
                                                    class="icon_piechart"></i></a></li>
                                            <li>
                                                <form th:method="post" th:action="@{/cart}">
                                                    <input type="hidden" name="productId" th:value="${product.id}">
                                                    <input type="hidden" name="qty" th:value="1">
                                                    <button type="submit" class="add_cart_btn">Add to cart</button>
                                                </form>
                                            </li>
                                            <li class="p_icon"><a href="#"><i class="icon_heart_alt"></i></a></li>
                                        </ul>
                                        <h4 th:text="${product.getName()}">Travel Bags</h4>
                                        <h5 th:text="'$' + ${product.getPrice()}">$40</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <nav aria-label="Page navigation example" class="pagination_area">
                            <ul class="pagination">
                                <li class="page-item previous" th:if="${(products.number) > 0}">
                                    <a th:href="@{/(page=${products.number}, size=${products.size})}"
                                       class="page-link">
                                        <i class="fa fa-angle-left" aria-hidden="true"></i>
                                    </a>
                                </li>

                                <li th:if="${(products.number) > 0} AND ${products.hasContent()}"
                                    class="page-item">
                                    <a th:text="${products.number}"
                                       th:href="@{/(page=${products.number}, size=${products.size})}"
                                       class="page-link">1</a>
                                </li>

                                <li th:if="${products.hasContent()}"
                                    class="page-item">
                                    <a th:text="${products.number + 1}"
                                       th:href="@{/(page=${products.number + 1}, size=${products.size})}"
                                       class="page-link">(current)</a>
                                </li>

                                <li th:unless="${products.hasContent()}"
                                    class="page-item">
                                    <a th:text="back"
                                       th:href="@{/}"
                                       class="page-link"></a>
                                </li>

                                <li th:if="${(products.number + 1) <= products.totalPages - 1}"
                                    class="page-item">
                                    <a th:text="${products.number + 2}"
                                       th:href="@{/(page=${products.number + 2}, size=${products.size})}"
                                       class="page-link">3</a>
                                </li>

                                <li th:if="${(products.number + 1) < products.totalPages}"
                                    class="page-item next">
                                    <a th:href="@{/(page=${products.number + 2}, size=${products.size})}"
                                       class="page-link">
                                        <i class="fa fa-angle-right" aria-hidden="true"></i>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>

                <!--                        LEFT SIDE SECTION: Categories,Filter section, color etc-->

                <div class="col-lg-3 float-md-right">
                    <div class="categories_sidebar">
                        <aside class="l_widgest l_p_categories_widget">
                            <div class="l_w_title">
                                <h3>Categories</h3>
                            </div>
                            <ul class="navbar-nav" th:each="cat : ${categories}">
                                <li class="nav-item">
                                    <a class="nav-link" th:href="@{/(categoryId = ${cat.getId()})}">[[${cat.name}]]
                                        <i class="icon_plus" aria-hidden="true"></i>
                                        <i class="icon_minus-06" aria-hidden="true"></i>
                                    </a>
                                </li>
                            </ul>
                        </aside>
                        <aside class="l_widgest l_fillter_widget">
                            <div class="l_w_title">
                                <h3>Filter section</h3>
                            </div>
                            <div id="slider-range" class="ui_slider"></div>
                            <label for="amount">Price:</label>
                            <input type="text" id="amount" readonly>
                        </aside>
                        <aside class="l_widgest l_color_widget">
                            <div class="l_w_title">
                                <h3>Color</h3>
                            </div>
                            <ul>
                                <li><a href="#"></a></li>
                                <li><a href="#"></a></li>
                                <li><a href="#"></a></li>
                                <li><a href="#"></a></li>
                                <li><a href="#"></a></li>
                                <li><a href="#"></a></li>
                                <li><a href="#"></a></li>
                                <li><a href="#"></a></li>
                                <li><a href="#"></a></li>
                                <li><a href="#"></a></li>
                                <li><a href="#"></a></li>
                                <li><a href="#"></a></li>
                                <li><a href="#"></a></li>
                                <li><a href="#"></a></li>
                                <li><a href="#"></a></li>
                                <li><a href="#"></a></li>
                                <li><a href="#"></a></li>
                                <li><a href="#"></a></li>
                                <li><a href="#"></a></li>
                                <li><a href="#"></a></li>
                                <li><a href="#"></a></li>
                                <li><a href="#"></a></li>
                                <li><a href="#"></a></li>
                                <li><a href="#"></a></li>
                            </ul>
                        </aside>
                        <aside class="l_widgest l_menufacture_widget">
                            <div class="l_w_title">
                                <h3>Manufacturer</h3>
                            </div>
                            <ul>
                                <li><a href="#">Nigel Cabourn.</a></li>
                                <li><a href="#">Cacharel.</a></li>
                                <li><a href="#">Calibre (Menswear)</a></li>
                                <li><a href="#">Calvin Klein.</a></li>
                                <li><a href="#">Camilla and Marc</a></li>
                            </ul>
                        </aside>
                        <aside class="l_widgest l_feature_widget">
                            <div class="l_w_title">
                                <h3>Featured Products</h3>
                            </div>
                            <div class="media">
                                <div class="d-flex">
                                    <img src="img/product/featured-product/f-p-5.jpg" alt="">
                                </div>
                                <div class="media-body">
                                    <h4>Jeans with <br/> Frayed Hems</h4>
                                    <h5>$45.05</h5>
                                </div>
                            </div>
                            <div class="media">
                                <div class="d-flex">
                                    <img src="img/product/featured-product/f-p-6.jpg" alt="">
                                </div>
                                <div class="media-body">
                                    <h4>Crysp Denim<br/>Montana</h4>
                                    <h5>$45.05</h5>
                                </div>
                            </div>
                        </aside>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================End Categories Product Area =================-->

<!--================Footer Area =================-->
<footer th:replace="fragments/footer :: footer"></footer>

<!--================End Footer Area =================-->


<script th:replace="fragments/footer :: scripts"></script>

</body>
</html>