<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="fragments/header :: head"></head>

<body class="bg-light">

<nav th:replace="fragments/header :: header"></nav>

<div class="d-flex">
    <div th:replace="fragments/sidebar :: sidebar"></div>

    <div class="content p-4">
        <h2 class="mb-4">Welcome to Admin page!</h2>

        <div class="card mb-4">
            <div class="card-body">
                <h3>As logged in Admin you can:</h3>
                <ul>
                    <li>Add\edit User-base</li>
                    <li>Add\edit User roles</li>
                    <li>Add\edit shop Products</li>
                    <li>Add\edit product Categories</li>
                    <li>Add\edit product Brands</li>
                </ul>
                <span>To begin your Administration proceed to <a href="#sidebar"><--Sidebar</a></span>
            </div>
        </div>
    </div>
</div>

<script th:replace="fragments/footer :: scripts"></script>
<script src="https://bootadmin.net/js/datatables.min.js"></script>

</body>
</html>